@import url(../css/reset.css);
html, body { background: #fdfbfb; height: 100%; width: 100%; }

.bg { background: url(img/bg.jpg) no-repeat center; width: 1000px; min-height: 1000px; margin: 10px auto; padding: 40px; /*position: relative;*/ }

/**header**/
.header { margin-top: 0px; height: 73px; margin-bottom: 44px; }

.logo { background: url(img/Login_sprite.png) left top; display: inline-block; width: 315px; height: 100%; }

.header_right { float: right; background: url(img/sprite.png) no-repeat left -68px; height: 28px; width: 445px; margin-top: 27px; }

/***reg_box***/
.reg_box { float: right; margin-right: 20px; width: 346px; height: 396px; margin-top: 150px; }

.reg_box li { margin-bottom: 25px; }

.reg_wel { font-size: 15px; }

.login { float: right; margin-right: 80px; }

.login a { color: red; }

.reg_form li input { height: 18px; line-height: 18px; padding: 6px 10px; border-radius: 3px; border: 1px solid #999; }

.reg_text { width: 248px; }
