.list_banner { width: 100%; }
.list_banner img { padding: 0; margin: 0; display: block; width: 100%; }

.choice_wrap { position: relative; z-index: 12; line-height: 22px; box-shadow: none; width: 1020px; margin: 20px auto; font-size: 14px; border: 1px solid #ccc; }
.choice_wrap .choice_range { height: 46px; background-color: #f5f5f5; position: relative; border: 1px solid #dfdfdf; z-index: 9; }
.choice_wrap .choice_range .choice_left { float: left; height: 46px; }
.choice_wrap .choice_range .choice_left .zonghe, .choice_wrap .choice_range .choice_left .jiege, .choice_wrap .choice_range .choice_left .zhekou { background-color: #fff; color: #000; border: 1px solid #ccc; margin: -1px 1px 0 -1px; z-index: 10; width: 67px; position: relative; text-align: center; cursor: pointer; float: left; line-height: 46px; }
.choice_wrap .choice_range .choice_left .zonghe .zonghe_text, .choice_wrap .choice_range .choice_left .zonghe .jiege_text, .choice_wrap .choice_range .choice_left .zonghe .zhekou_text, .choice_wrap .choice_range .choice_left .jiege .zonghe_text, .choice_wrap .choice_range .choice_left .jiege .jiege_text, .choice_wrap .choice_range .choice_left .jiege .zhekou_text, .choice_wrap .choice_range .choice_left .zhekou .zonghe_text, .choice_wrap .choice_range .choice_left .zhekou .jiege_text, .choice_wrap .choice_range .choice_left .zhekou .zhekou_text { cursor: pointer; line-height: 46px; }
.choice_wrap .choice_range .choice_left .choice_active { color: #f10180; border: 1px solid #f10180; }
.choice_wrap .choice_range .choice_right { float: right; padding: 10px 10px 10px 0; font-size: 14px; }
.choice_wrap .choice_range .choice_right .page_total { font-size: 14px; margin-right: 22px; }
.choice_wrap .choice_range .choice_right .page_total em { color: #f10180; font-weight: 400; }
.choice_wrap .choice_range .choice_right .page_num em { color: #f10180; font-weight: 400; }
.choice_wrap .choice_range .choice_right .page_pre, .choice_wrap .choice_range .choice_right .page_next { font-size: 12px; height: 24px; line-height: 24px; padding: 0 10px 0 9px; background: #fafafa; border: 1px solid #dbdbdb; color: #d1d1d1; display: inline-block; text-align: center; vertical-align: middle; border-radius: 3px; font-family: '\5B8B\4F53',arial,sans-serif; }
.choice_wrap .choice_range:after { content: '.'; height: 0; display: block; clear: both; visibility: hidden; }
.choice_wrap .fenlei { line-height: 22px; border-bottom: 1px dashed #ccc; background-color: #fff; }
.choice_wrap .fenlei:after { content: '.'; height: 0; display: block; clear: both; visibility: hidden; }
.choice_wrap .fenlei dt { float: left; width: 86px; padding-left: 20px; padding-top: 14px; color: #666; }
.choice_wrap .fenlei dd { float: left; width: 892px; background-color: #fff; }
.choice_wrap .fenlei dd ul { padding: 13px 30px 1px 0; float: left; width: 806px; max-height: 76px; }
.choice_wrap .fenlei dd ul li { display: inline-block; padding: 0 27px 12px 0; }
.choice_wrap .fenlei dd ul li .choose_all { border: 1px solid #f10180; color: #f10180; }
.choice_wrap .fenlei dd ul li a { padding: 0 10px; display: inline-block; border: 1px solid #fff; font-size: 14px; color: #000; }
.choice_wrap .fenlei dd ul li a:hover { color: red; }
.choice_wrap .fenlei dd ul li a span { max-width: 72px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.choice_wrap .chima { background-color: #fff; }
.choice_wrap .chima:after { content: '.'; height: 0; display: block; clear: both; visibility: hidden; }
.choice_wrap .chima dt { float: left; width: 86px; padding-left: 20px; padding-top: 14px; color: #666; }
.choice_wrap .chima dd { float: left; width: 892px; background-color: #fff; }
.choice_wrap .chima dd ul { padding: 13px 30px 1px 0; float: left; width: 806px; max-height: 76px; }
.choice_wrap .chima dd ul li { display: inline-block; padding: 0 27px 12px 0; }
.choice_wrap .chima dd ul li .choose_all { border: 1px solid #f10180; color: #f10180; }
.choice_wrap .chima dd ul li a { padding: 0 10px; display: inline-block; border: 1px solid #fff; font-size: 14px; color: #000; }
.choice_wrap .chima dd ul li a:hover { color: red; }
.choice_wrap .chima dd ul li a span { max-width: 72px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.list_goods { width: 1020px; margin: 0 auto; }
.list_goods ul { height: 1111px; }
.list_goods ul:after, .list_goods ul:before { content: " "; display: table; }
.list_goods ul:after { clear: both; }
.list_goods ul li { position: relative; z-index: 5; width: 235px; height: 360px; float: left; margin-right: 20px; margin-bottom: 20px; display: block; }
.list_goods ul li .goods_inner { position: absolute; height: 100%; width: 100%; }
.list_goods ul li:hover { z-index: 13; }
.list_goods ul li:hover .goods_inner { width: 296px; height: 360px; top: -11px; left: -11px; padding: 10px; border: 1px solid #e5e5e5; background-color: #fff; box-shadow: 0 0 6px rgba(0, 0, 0, 0.1); }
.list_goods ul li:hover .goods_images { display: block; }
.list_goods ul li .goods_images { display: none; position: absolute; top: 10px; right: 10px; z-index: 1; }
.list_goods ul li .goods_images .goods_img { margin-bottom: 6px; width: 56px; height: 71px; }
.list_goods ul li .goods_images .goods_img .aImg { display: block; width: 54px; height: 69px; border: 1px solid #e5e5e5; }
.list_goods ul li .goods_images .goods_img .aImg img { width: 54px; height: 69px; }
.list_goods ul li .goods_images .goods_img .goods_active { border-color: #f10180; }
.list_goods ul li .goods_act { display: block; width: 235px; height: 297px; }
.list_goods ul li .goods_act img { width: 235px; height: 297px; }
.list_goods ul li .goods_info { margin-top: 10px; width: 235px; }
.list_goods ul li .goods_info .goods_discount { float: right; margin-left: 10px; padding-right: 3px; padding-left: 3px; color: #f1b13b; border: 1px solid #f1b13b; border-radius: 2px; }
.list_goods ul li .goods_info .goods_price em { display: inline-block; margin-right: 20px; }
.list_goods ul li .goods_info .goods_price em span { color: #f10180; }
.list_goods ul li .goods_info .goods_price em .RMB { font-size: 14px; padding-right: 2px; }
.list_goods ul li .goods_info .goods_price em .price { font-size: 22px; }
.list_goods ul li .goods_info .goods_price del { display: inline-block; vertical-align: top; margin-left: 10px; padding-top: 5px; color: #999; }
.list_goods ul li .goods_text { height: 36px; overflow: hidden; margin-top: 0; color: #666; width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.list_goods ul li .goods_text a { font-weight: 400; font-size: 12px; color: #666; }
